/* CSS Body */

body {
    background: #ababab75;
}


/* CSS Header */

.header {
    /*position: fixed;
	top: 0;*/
    width: 100%;
    font-family: 'poppins', sans-serif;
    background: #00897b;
    box-shadow: 2px 0px 3px #272727;
    color: white;
}

.header__logout {
    padding: 0 10px;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    font-size: 13px;
    border-bottom: 1px solid #ffffff2e;
}

.header__logout a {
    padding: 5px 7px;
    margin: 0 5px;
    border-radius: 10px;
    display: block;
    color: white;
}

.border__color {
    border-top: 2px solid #0e8fff;
    border-bottom: 2px solid #0e8fff;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left h3 {
    padding: 0 2em;
    text-transform: uppercase;
    font-weight: bolder;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header__nav li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.header__nav li .currentNavItem {
    background: white;
    color: #00897b;
}


/* CSS Main */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}

.main__app {
    width: 90%;
    height: 46em;
    padding: 2em;
    background: white;
}


/* CSS Footer */

.footer {
    position: fixed;
    bottom: 0;
    padding: 1em;
    width: 100%;
    background: #484848;
}

.footer__title {
    text-align: center;
    color: white;
}