.main__app {
	font-family: 'poppins', sans-serif;
}

table {
	border-collapse: collapse;
	text-align: center;
	cursor: pointer;
	margin-top: 2rem;
}

table tr td:focus {
	outline: none;
}

.tr_td_frirst td {
	outline: none;
	font-size: 15px;
	vertical-align: inherit;
	border: none;
}

.tr_td_frirst td:hover {
	background: #c6d1ef26;
}

thead tr {
	background: #4e73df;
	font-weight: 600;
	color: white;
}
/* 
thead tr:hover{
	background: red;
} */
tr {
	background-color: #b8bbbb0f;
	color: #080808c4;
	/* font-weight: 600; */
	font-size: 1.2rem;
}

table tbody .childTeam {
	cursor: pointer;
	color: #2e3c48d1;
	font-size: 14px;
}

table tbody .childTeam:hover {
	background: #c6d1ef26;
}

table tbody .childTeam:focus {
	outline: none
}

.listteam__header {
	position: relative;
	width: 100%;
	height: 5rem;
}

.listteam__header__icon {
	left: 89%;
	position: absolute;
	display: flex;
	top: 91%;
	/* margin-right: 0rem; */
}

.listteam__header__icon button {
	border: none;
	color: #ff0000;
	background: none;
	padding: 6px 12px;
	border-radius: 6px;
	margin-right: 10px;
}

.listteam__header__icon button:hover {
	background: white;
	color: #5d5757;
}

.listteam__header__icon button:focus {
	outline: none;
}

.listteam__header__icon a {
	/* text-decoration: none; */
	/* display: block; */
	padding: 6px 11px;
	background: none;
	border-radius: 6px;
}

.listteam__header__icon a:nth-child(1) {
	color: red;
}

.listteam__header__icon a:nth-child(2) {
	color: rgb(63, 81, 181);
}

.listteam__header__search {
	position: absolute;
	top: 0%;
	left: 58%;
	width: 47%;
}

.listteam__header__search input {
	width: 46%;
	padding: 10px;
	border: 1px solid #a2909094;
	font-size: 12px;
	border-radius: 9px;
	margin-left: 11rem;
	position: relative;
	margin-top: 12px;
}

.listteam__header__search input:focus {
	outline: none;
}

.listteam__khung {
	width: 20rem;
	height: 20rem;
}

.listteam__khung__img {
	height: 10rem;
	width: 10rem;
}

.listteam__khung__name {
	text-align: center;
	line-height: 35px;
}

.listteam__body .col-sm-4 {
	height: fit-content;
}

button.btn-edit {
	border: none;
	color: #b9631a;
	border-radius: 8px;
	font-size: 19px;
}

button.btn-edit:hover {
	color: red;
}
/* ==============editteam=============== */
.form__editteam {
	background: #ccdaff7a;
	min-height: 80vh;
}

.form__editteam-title {
	text-align: center;
	padding-top: 1rem;
	color: #008fd8;
}

.form__editteam-body {
	display: block;
	width: 60rem;
	margin-left: 0 auto;
	/* margin: 0 auto; */
	height: 5rem;
	margin-left: 27rem;
}

.form__editteam-body-input {
	position: relative;
	height: inherit;
}

.form__editteam-body-input i {
	position: absolute;
	top: 10%;
	left: 72%;
	font-size: 30px;
	color: #8686bf;
}

.form__editteam-body-input input {
	width: inherit;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #8e696952;
}

.form__editteam-body-input input:focus {
	border: 1px solid red;
}

.form__editteam-submit {
	/* margin: 0 auto; */
	display: block;
	width: 30rem;
	margin-left: 30rem;
}

.form__editteam-submit a {
	background: #e07a31;
	width: 10rem;
	border: none;
	height: 3.4rem;
	margin-left: 3rem;
}
/* ====================/edittem ========*/
.team__infor-body {
	background: #ccdaff7a;
	min-height: 75vh;
	position: relative;
}

.team__infor-sm9 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 60rem;
	height: auto;
}

.infer__th {
	text-align: center;
}

/* ====================infor ========*/

/* ====================/infor=========*/
.teamupdate__body.ng-scope {
	min-height: 80vh;
	background: aliceblue;
}

.teamupdate__form {
	background: #e4e3ea;
	width: 60rem;
	margin-left: 17rem;
	min-height: 50rem;
}

.teamupdate__form-firstname {
	height: 6rem;
}

.teamupdate__form-firstname label {
	color: #3e3caf;
	padding-top: 4px;
	padding-left: 1px;
	display: block;
	font-size: 17px;
}

.teamupdate__form-firstname input {
	width: 56rem;
	border: 1px solid #c3a0a0;
	height: 5rem;
	border-radius: 5px;
}

.teamupdate__form-listmanager select {
	width: 10rem;
	margin-top: 5rem;
}

.teamupdate__form-listusers {
	
}

.teamupdate__form-listusers-checked {
	
}