<div class="employee-detail">
	<button ng-click="backEmployee()" class="btn-back">
		<i class="fas fa-arrow-left"></i>
	</button>
	<button ng-click="editUser(eachUser)" class="btn-edit">
		<i class="fas fa-save"></i>
	</button>

	<div class="row">
		<div
			class="col-sm-4 d-flex align-items-center justify-content-center ">
			<div class="employee-detail__img text-center">
				<img src="static/images/default/manager.png" alt=""
					class="employee-detail__img">
				<h5 class="employee-detail__name pt-3">{{eachUser.name}}</h5>
				<h6 class="employee-detail__nameRole">Manager</h6>
				<div ng-bind-html="icon"></div>
			</div>
		</div>
		<div class="col-sm-8">
			<tabset> <tab heading="Detail">
			<div ng-include="'file/employee/tab/TabDetail.html'"></div>
			</tab> <tab heading="Profile">
			<div ng-include="'file/employee/tab/TabProfile.html'"></div>
			</tab> <tab heading="Technical">
			<div ng-include="'file/employee/tab/TabTechnical.html'"></div>
			</tab> <tab heading="Advantage">
			<div ng-include="'file/employee/tab/TabAdvantage.html'"></div>
			</tab> </tabset>
		</div>
	</div>
</div>