<div class="listteam__header">
    <div class="listteam__header__name">
        <h4 class="font-weight-bolder">{{nameDefault}}</h4>
    </div>
     <div class="listteam__header__search">
        <p>{{namee}}</p>
        <input type="text" placeholder="search team" ng-model="search.$">
        <a class="icon__search" href="#"><i class="fas fa-search"></i></a>
    </div>
    <div class="listteam__header__icon">
        <a href="dashboard.html#!/editTeam.jsp" >
            <i class="fas fa-trash-alt"></i>
        </a>
        <a href="file/team/inforteam.html" >
            <i class="fas fa-edit"></i>
        </a>
        <button><i class="fas fa-plus-circle"></i></button>
        <button ng-hide="hideShow" ng-click="changeView('file/team/inforteam.html')"><i class="fas fa-info-circle"></i></button>
        <button ng-show="hideShow" ng-click="changeView('file/team/listteam.html')"><i class="fas fa-undo-alt"></i></button>
    </div> 
   
     <!-- <button ng-controller="team-controller-edit">edit</button> -->
    <!-- <button ng-controller="team-controller-update">update</button>  -->
    
</div>

 <div class="container listteam__body py-4" ng-include="viewTeam">

</div> 

</script>