.infor__table{
	width: 100%;
}
thead.infer__thead {
    background: aquamarine;
    clear: none;
}

tr.infer__tr {
    background: #809eb3;
    color: aliceblue;
    font-weight: 100;
}

th.infer__th {
    font-weight: 100;
    border: 1px solid white;
}