<div class="team__infor-body">
	<div class="">
		<h1>{{infornameitem.name}}</h1>
	</div>
	<div class="wrap__table">
		<div class="team__infor-sm9">
			<table class="table__default">
				<thead>
					<tr class="infer__tr">
						<td class="infer__th">Name</td>
						<td class="infer__th">Position</td>
						<td class="infer__th">experience</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in infornames.users" class="infor__tr"
						ng-click="informationitem(item.id)">
						<td class="infor__td">{{item.name}}</td>
						<td class="infor__td">{{item.posiTion}}</td>
						<td class="infor__td">{{item.exPe}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>